body{
	margin: 0;
	padding: 0;
	background: #212121;
}
.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.bar{
	width: 30px;
	height: 100px;
	background: #212121;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 3.5s ease-in-out infinite;
}
.bar1{
	animation-delay: 0.1s;
}
.bar2{
	animation-delay: 0.3s;
}
.bar3{
	animation-delay: 0.5s;
}
.bar4{
	animation-delay: 0.7s;
}
.bar5{
	animation-delay: 0.9s;
}
.bar6{
	animation-delay: 1.1s;
}
.bar7{
	animation-delay: 1.3s;
}
.bar8{
	animation-delay: 1.5s;
}

@keyframes loading {
	0%{
		transform: scale(1,0);
		background: #212121;
	}
	50%{
		transform: scaleX(1);
		background: #ffca28;
	}
	100%{
		transform: scale(1,0);
		background: transparent;
	}
}
